---
import Block from "../components/Block.astro";
import TechSkill from "./TechSkill.astro";
import WorkExperience from "./WorkExperience.astro";
---

<div class="right-side">
 <h1>
   López Castillo Rafael Fernando
 </h1>
 <h3 class="subtitle">
   Software Engineer
 </h3>
  <Block icon="console-line" title="Tech skills" >
    <TechSkill name="Name" level="Level" description="Description" isTitle={true}/>
    <TechSkill name="React" level="Proficient" description="web, native, next.js" />
    <TechSkill name="Vue" level="Proficient" description="web" />
    <TechSkill name="Node.js" level="Proficient" description="Express, Hono" />
    <TechSkill name="Git" level="Proficient" description="" />
    <TechSkill name="Php" level="Intermediate" description="Codeigniter, Laravel" />
    <TechSkill name="Mysql" level="Intermediate" description="" />
    <TechSkill name="Mongodb" level="Intermediate" description="" />
    <!-- <TechSkill name="C#" level="Intermediate" description="Asp.net 4x" /> -->
    <!-- <TechSkill name="Python" level="Basics" description="Scripting and cli" /> -->
  </Block>
  <Block icon="briefcase" title="Work experience" >
    <WorkExperience
        company="Xipe Technology"
        title="Sr Frontend Engineer"
        dates="Mar 24 - Current"
        subtitle="Vue, NodeJS">
          <ul class="gray">
            <li>Development and release of new features, solving bugs and optimizations</li>  
            <li>Using: Vue 2, Vuex, Vuetify 2, NodeJS, Next.js</li>
            <li>Agile, Jira, git</li>
          </ul>
    </WorkExperience>

    <WorkExperience 
      company="3Pillar Global" 
      title="Sr Software Engineer" 
      dates="Jun 22 - Jan 24" 
      subtitle="React, React native, vue" >
        <ul class="gray">
          <li>I contributed with the release of an MVP and the next versions. <br />
          Creating, testing and fixing components, migrating from vanilla JS to TS</li>  
          <li>Using: Typescript, React, Redux, Zustant, React Testing Library</li>  
          <li>Agile, AzureDevops, git</li>
        </ul>  
    </WorkExperience>
    <WorkExperience
      company="Wizeline"
      title="Software Engineer"
      subtitle="React, Ruby on Rails"
      dates="Nov 21 - May 22"
    >
      <ul class="gray">
        <li>I contributed on an internal project creating, testing, fixing and refactoring components.</li>
        <li>Using: React with redux on the frontend and Ruby on Rails on the backend</li>
        <li>Agile, github project, git </li>
      </ul>
    </WorkExperience>
    <WorkExperience company="Previous jobs" title="Web developer " subtitle="C#, PHP, Jquery, MVC" dates="2017 - 2021"/>
  </Block>
</div>


<style>
  div.right-side {
    background-color: white;
  }
  div {
   width: 100%;
   flex: 1
   display: flex;
  }

  h1 {
   text-align: center;
   margin-bottom: 0;
  }

  h3 {
    margin: 5px;
  }

 </style>
